<div class="table">
    {% for service in item.services %}
    <div class="table-row">
        <div class="cell">
            <span>
                <i class="fa fa-check-square-o"></i>
                {{ service.service.title }}
                {% if service.option %}
                    - {{ service.option.title }}
                {% endif %}
                {% if service.dateStart %}
                    [ c {{ service.dateStart|date('d.m.Y') }} по {{ service.dateEnd|date('d.m.Y') }} ]
                {% endif %}
                <a href="" class="info-icon">
                    <i class="fa fa-info"></i>
                </a>
            </span>
        </div>
        <div class="cell cell-price">
            <p class="price pull-right">{{ getPrice(servicePrice(service)) }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<p class="visible-xs">scroll <i class="fa fa-hand-o-right"></i></p>
