{% extends "NetcastUrestMainBundle::base.html.twig" %}
{% block pageCss %}
    {% stylesheets filter='cssrewrite'
        'bundles/netcasturestmain/css/main.css'
        'bundles/netcasturestmain/css/dp.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock pageCss %}
{% block content %}
    <div class="main-form">
        <form action="{{ path('netcast_urest_tour_list') }}">
            <div class="form-item form-group">
                <label>
                    <input type="text" placeholder="Город" class="form-control" id="jsCity">
                    <input type="hidden" id="jsCityId" name="tourCity">
                    <input type="hidden" id="jsCountryId" name="tourCountry">
                </label>
            </div>
            <div class="form-item form-group">
                <label style="position: relative">
                    <input autocapitalize="off"
                           readonly="readonly"
                           autocomplete="off"
                           spellcheck="false"
                           autocorrect="off"
                           type="text" name="date" class="form-control required" id="jsDate" placeholder="Выберите дату">
                    <span class="input-addon"><i class="fa fa-calendar"></i></span>
                </label>
            </div>
            <div class="form-item">
                <button type="submit">Найти</button>
            </div>
        </form>
    </div>

    <div class="block-article">
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-padd-xs no-padd-sm">
                    <h2 class="text-uppercase">{{ 'site.hot_tours'|trans({},'NetcastUrestMainBundle') }}</h2>
                    {% for tour in lastTours %}
                    <div class="thumbnail tour">
                        {% if tour.tourImages[0] is defined %}
                            <a href="{{ url('netcast_urest_tour_view',{ id : tour.id }) }}">
                            {% media tour.tourImages[0].media,'reference' with {'class' : "img_responsive"} %}
                            </a>
                        {% endif %}
                        <div class="caption clearfix">
                            <div class="caption-header">
                                <h4>{{ tour.content.title }}</h4>
                                <p>{{ tour.content.announcement }}</p>
                                <hr/>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padd">
                                <div class="location pull-left">
                                    <p class="text-uppercase"><i class="fa fa-map-marker"></i> {{ tour.city.content }}, {{ tour.city.region.country.content }}</p>
                                    <p><i class="fa fa-building-o"></i> {{ tour.content.accommodation }}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 no-padd">
                                <div class="price-block">
                                    <span class="price">{{ getPrice(tour.tourDates[0].price) }}</span>
                                    <a href="{{ url('netcast_urest_tour_view',{ id : tour.id }) }}" class="btn btn-grey pull-right" role="button">
                                        <i class="fa fa-chevron-right"></i> {{ 'site.addit'|trans({},'NetcastUrestMainBundle') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-6 no-padd-xs no-padd-sm">
                    <div class="new-articles">
                        <h2 class="text-uppercase">{{ 'site.new_article'|trans({},'NetcastUrestMainBundle') }}</h2>
                        {% for post in lastPosts %}
                        <div class="thumbnail">
                            <div class="image-holder">
                                {% if post.images[0] is defined %}
                                    <a href="{{ url('netcast_urest_post_view', { category : post.category.alias, alias : post.alias }) }}">
                                    {% media post.images[0].media,'reference' with {'class' : "img_responsive"} %}
                                    </a>
                                {% endif %}
                                <div class="img-caption">
                                    <span class="pull-left">{{ post.category.content.title }}</span>
                                    <span>
                                        {% for key, tag in post.tags %}
                                            {{ tag.content.title }}{% if key < post.tags|length-1 %},{% endif %}
                                        {% endfor %}
                                    </span>
                                    <span class="pull-right">{{ post.created|date('d.m.y') }}</span>

                                </div>
                            </div>
                            <div class="caption clearfix">
                                <h4>{{ post.content.title }}</h4>
                                <hr/>
                                <p>{{ post.content.previewText }} </p>
                                <p><a href="{{ url('netcast_urest_post_view', { category : post.category.alias, alias : post.alias }) }}" class="btn btn-grey pull-right" role="button"><i class="fa fa-chevron-right"></i> {{ 'site.next'|trans({},'NetcastUrestMainBundle') }}</a></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-info">
        <div class="container">
            <div class="row">
                {{ include('NetcastUrestMainBundle:Main:servisesBlock.html.twig',{ services : services }, with_context = false) }}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock content %}

 {% block pageScripts %}
     <script>
         $( "#jsCity" ).autocomplete({
             source: '{{ path('netcast_urest_city_list') }}',
             select: function( event, ui ) {
                 event.preventDefault();
                 var id = ui.item.value.city;
                 var countryId = ui.item.value.country;
                 var label = ui.item.value.ct;
                 console.log(ui.item);
                 $( "#jsCity" ).val(label);
                 $( "#jsCityId" ).val(id);
                 $( "#jsCountryId" ).val(countryId);
             }

         });
         var date = new Date();
         var start = new Date();
         start.setDate(date.getDate()+1);
         var end = new Date();
         end.setDate(date.getDate()+2);
         $('#jsDate').daterangepicker({
             timePicker: false,
             format: 'DD.MM.YYYY',
             minDate: date,
             locale: {
                 applyLabel: 'Выбрать'
             },
             startDate: start,
             endDate: end
         });
     </script>
 {% endblock pageScripts %}