<li><a href="{{ url('netcast_urest_about_as_view') }}">{{ 'site.about_as'|trans({},'NetcastUrestMainBundle') }} </a></li>
<li><a href="{{ url('netcast_urest_tour_list') }}">{{ 'site.tours'|trans({},'NetcastUrestMainBundle') }} </a></li>
<li><a href="{{ url('netcast_urest_post_categories') }}">{{ 'site.bloug'|trans({},'NetcastUrestMainBundle') }}</a></li>
<li><a href="{{ url('netcast_urest_help_list') }}">{{ 'site.info'|trans({},'NetcastUrestMainBundle') }}</a></li>
<li><a href="{{ url('netcast_urest_faq_view') }}">{{ 'site.FAQ'|trans({},'NetcastUrestMainBundle') }}</a></li>
<li><a href="{{ url('netcast_urest_contact_view') }}">{{ 'site.contacts'|trans({},'NetcastUrestMainBundle') }}</a></li>
<li><a class="visible-xs visible-sm" href="{{ url('netcast_urest_tour_builder') }}">Tour Builder</a></li>