{% extends "NetcastUrestMainBundle::base.html.twig" %}
{% block content %}

<div class="main-content bg-white">
    <div class="block-about-us">
        <div class="container width-970">
            <h2 class="header-title">{{ 'site.about_as'|trans({},'NetcastUrestMainBundle') }}</h2>
            <img src="{% path aboutPost.image, "reference"  %}" class="header-img img-responsive" alt="">
            <div class="inner-content about">
                {{ aboutPost.content|raw }}
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="block-about-us">
        <div class="container">
            <h2 class="header-title">{{ 'site.partners'|trans({},'NetcastUrestMainBundle') }}</h2>
            <div class="box-partner">
                <div class="row">
                    {% for partner in partners %}
                    <div class="col-sm-3 col-xs-6">
                        <a href="{{ partner.link }}" target="_blank">
                            <img src="{% path partner.image, "reference"  %}" alt="{{ partner.title }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="cleafix big-spacer"></div>
        </div>
    </div>
</div>
{% endblock content %}