{% extends "NetcastUrestMainBundle::base.html.twig" %}
{% block content %}

<div class="main-content bg-white">
    <div class="block-about-us">
        <div class="container width-970">
            <h2 class="header-title">{{ 'site.about_as'|trans({},'NetcastUrestMainBundle') }}</h2>
            <img src="{% path aboutPost.image, "reference"  %}" class="header-img img-responsive" alt="">
            <div class="inner-content about">
                {{ aboutPost.content|raw }}
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="block-about-us">
        <div class="container">
            <h2 class="header-title">{{ 'site.partners'|trans({},'NetcastUrestMainBundle') }}</h2>
            <div class="box-partner">
                <div class="row">
                    {% for partner in partners %}
                    <div class="col-sm-3 col-xs-6">
                        <a href="{{ partner.link }}" target="_blank">
                            <img src="{% path partner.image, "reference"  %}" alt="{{ partner.title }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="cleafix big-spacer"></div>
            <h2 class="header-title">{{ 'site.reviews'|trans({},'NetcastUrestMainBundle') }}</h2>
            <div class="testimonials">
                {% for review in reviews %}
                <div class="testimonial bg-white">
                    <div class="avatar pull-left">
                        {% if review.avatar is not empty %}
                            {% media review.avatar, 'reference' with {'class' : "img-circle user-pic img-thumbnail"} %}
                        {% else %}
                            {% media review.user.avatar, 'reference' with {'class' : "img-circle user-pic img-thumbnail"} %}
                        {% endif %}
                    </div>
                    <span class="name">
                        {% if review.nickname is not empty %}
                            {{ review.nickname }}
                        {% else %}
                            {{ review.user.nickname }}
                        {% endif %}
                    </span>
                    <span class="date">{{ review.created|dateDiff('days') }} {{ 'site.day_out'|trans({},'NetcastUrestMainBundle') }}</span>
                    <hr/>
                    <div class="clearfix visible-xs"></div>
                    <p>{{ review.review|raw }}</p>
                </div>
                {% endfor %}
            </div>
            <nav>
                <ul class="pagination pagination-centered">
                    <li>
                        <a href="#" class="prev" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">11</a></li>
                    <li><a href="#">12</a></li>
                    <li><a href="#">13</a></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">15</a></li>
                    <li><a href="#" class="active">16</a></li>
                    <li><a href="#">17</a></li>
                    <li><a href="#">18</a></li>
                    <li><a href="#">19</a></li>
                    <li>
                        <a href="#" class="next" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
            {% if app.user is not defined %}
            <h3 class="header-title">{{ 'site.auth_to_review'|trans({},'NetcastUrestMainBundle') }}</h3>
            {% else %}
            <div class="testimonials">
                <div class="testimonial">
                    <div class="avatar pull-left">
                        {% if app.user.avatar is defined %}
                            {% media app.user.avatar, 'reference' with {'class' : "img-circle user-pic img-thumbnail"} %}
                        {% else %}
                            <div class="img-circle user-pic user-none img-thumbnail">
                                <i class="fa fa-user"></i>
                            </div>
                        {% endif %}

                    </div>
                    <form action="{{ url('netcast_urest_add_review') }}" method="POST" id="reviewForm">
                    <div class="box-textarea">
                        {{ form_widget(form.review) }}
                        {{ form_errors(form.review) }}
                    </div>
                    <div class="box-simbol">
                        <div style="float: left">
                        {{ form_widget(form.captcha) }}
                        {{ form_errors(form.captcha) }}
                        </div>
                        {{ form_rest(form) }}
                        <a style="float: left" onclick="$('#reviewForm').submit()" class="btn btn-grey pull-left"><i class="fa fa-angle-right"></i> {{ 'site.send'|trans({},'NetcastUrestMainBundle') }}</a>
                    </div>
                    </form>
                </div>
            </div>
            {% endif %}
            <div class="clearfix big-spacer"></div>
        </div>
    </div>
</div>
{% endblock content %}